/********************* RESET STYLES ************************/
:root{
  box-sizing: border-box;
  background-color: #fff;
  font-family: century, serif;
  font-size: 1em;
  color: #333;
}

*,:before,:after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body{
	font-size: calc( .8em + .5vw);
  overflow-x: hidden;
}
@font-face {
    font-family: 'Century';
    src: url('Century-Normal.woff2') format('woff2'),
        url('Century-Normal.woff') format('woff'),
        url('Century-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a{
  color: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

a:focus, button:focus, input:focus {
	outline: none;
	border-bottom: 2px solid #000;
}

button{
	border-width: 0;
	background-color: #fff;
}
img{
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
	text-transform: capitalize;
}
h1{
	font-size: 3em;
}
h1,h2{
	text-transform: uppercase;
}
em{
	font-style: unset;
	border-bottom: 2px dotted #0fc;
}
p{
  margin-top: 1em;
}
.block{
  display: block;
}
.--red{
color: #f92828;
}
.--yellow{
  color: #ffd42a;
}
.--green{
  color: #0fc;
}
.--outlined{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.center{
  text-align: center;
}

.header-txt--right{
  right: 10vw;
  text-align: right;
  left: unset;
}
.link{
  border-bottom: 2px solid #000;
}
.link:hover, .link:focus{
  font-size: 1.5em;
}
.big-txt{
  font-size: 2em;
}
/***************** RESET STYLES FINISHED ***************/
.site-header{
  display: flex;
  flex-direction: column;
  padding: 1em 8vw;
  align-items: center;
}
.site-header ul,ol{
  list-style: none;
}
.site-logo{
  display: block;
}
.site-logo:focus{
  border-bottom: 0px solid;
}
.site-logo:hover svg g, .site-logo:focus svg g{
  fill: #ffd42a;
}
.menu{
  display: flex;
  align-items: center;
  padding: 1em 0;
}
.menu-link{
  margin: 0 1.5em;
  border-bottom: 2px solid #000;
  transition: all ease .2s;
}
.menu-link:hover{
  border-color: #fc0;
  color: black;
  font-size: 1.2em;
}
main section{
  padding: 2em;
}
.intro-body, .contact{
  height: 90vh;
  max-height: 500px;
}
.mission{
  max-width: 450px; 
  margin: 0 auto; 
  background-color: #0fc;
  padding: 2em; 
  padding-bottom: 4em;
}
.link-block{
  display: block;
  padding: 1em;
  margin-bottom: .5em;
}
.link-block--yellow{
  background: #fc0;
}
.link-block--green{
  background: #00ff43;
}

@media only screen and (min-width: 40em){
  .site-header{
    flex-direction: row;
    padding: 2em 8vw;
  }
  .menu{
    margin-left: 5em;
    padding:0;
  }
  .header-txt{
    max-width: 500px;}
}